.hidden {
	display: none;
}
#github {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
}
#github img {
	border: 0;
}
#num-errors {
	position: fixed;
	top: 20px;
	right: 20px;
	font-size: 100px;
	text-align: right;
	font-weight: bold;
	text-shadow: 0px 0px 10px #000;
	color: #FFF;
	display: none;
	opacity: 0.5;
}
#welcome, #summary {
	background: #BFB;
	padding: 0.5em;
	margin-bottom: 0.67em;
}
#welcome > p, #summary > p {
	font-size: 1.1em;
}
#welcome-more {
	display: none;
}
#summary fieldset:first-of-type {
	margin-bottom: 1em;
}
#summary input {
	position: absolute;
	top: 0;
	left: 0;
}
#summary ol {
	counter-reset: item;
	margin: 0;
	padding: 0 0 0 40px;
}
#summary ol ol {
	margin-top: 6px;
}
#summary li {
	list-style-type: none;
	padding: 0 0 0 25px;
	margin: 6px 0 0;
	position: relative;
}
#summary li li {
	margin: 0;
}
#summary li:before {
	content: counters(item, ".") " ";
	counter-increment: item;
	width: 40px;
	position: absolute;
	top: 0;
	left: -50px;
	text-align: right;
	color: #777;
}
#summary code {
	background: #6F6;
}

